MYSQL_ROOT_PASSWORD=supersecret
MYSQL_DATABASE=inventoryservice

MYSQL_USER=inventoryuser
MYSQL_PASSWORD=secret
SPRING_DATASOURCE_URL=jdbc:mysql://mysql-inventorys:3306/inventoryservice
SPRING_DATASOURCE_USERNAME=inventoryuser
SPRING_DATASOURCE_PASSWORD=secret

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://localhost:8083/.well-known/jwks.json